<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925203487806-kvufbjboi9uv4ent6jkodaufm4vojtpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925203487806-kvufbjboi9uv4ent6jkodaufm4vojtpj</string>
	<key>API_KEY</key>
	<string>AIzaSyBAfEgRFffCNo9bg32xSZOVEsOjR3vWAmA</string>
	<key>GCM_SENDER_ID</key>
	<string>925203487806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kylie.G-G</string>
	<key>PROJECT_ID</key>
	<string>giveget-1ffe7</string>
	<key>STORAGE_BUCKET</key>
	<string>giveget-1ffe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925203487806:ios:67f897d3d47157e813056f</string>
</dict>
</plist>